src/main/deploy/auton/auton.dtd

<!ELEMENT auton (snippet | primitive)* >

<!ELEMENT snippet EMPTY>
<!ATTLIST snippet file CDATA #IMPLIED>

<!ELEMENT primitive (zone*) >
<!ATTLIST primitive 
          id                ( DO_NOTHING | HOLD_POSITION | 
                              DRIVE_DISTANCE | DRIVE_TIME | 
                              TURN_ANGLE_ABS | TURN_ANGLE_REL | DRIVE_PATH_PLANNER | RESET_POSITION_PATH_PLANNER | VISION_ALIGN) "DO_NOTHING"
		  time				CDATA #IMPLIED
          distance		    CDATA "0.0"
          headingOption     CDATA "MAINTAIN"
          heading           CDATA "0.0"
          drivespeed        CDATA "0.0"
          enddrivespeed     CDATA "0.0"
          pathname          CDATA #IMPLIED
          alignmentMethod   ( ROTATE | STRAFE ) "ROTATE"
          pipeline          ( UNKNOWN | OFF | APRIL_TAG | CONE_NODE | CONE | CUBE ) "APRIL_TAG"
>


<!ELEMENT zone EMPTY >
<!ATTLIST zone
    ygrid1             		(  0 |  1 |  2 |  3 |  4 |  5 |  6 |  7 |  8 |  9 | 
                              		  10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 
                              		  20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 
                              		  30 | 31 | 32 | 33 | 34 | 35 | 36 | 37 | 38 | 39 | 
                              		  40 | 41 | 42 | 43 | 44 | 45 | 46 | 47 | 48 | 49 | 
                              		  50 | 51 | 52 | 53 | 54 ) "0"

    xgrid1             		(  0 | A |  B |  C |  D |  E |  F |  G |  H |  I |  J | 
                              		  K | L | M | N | O | P | Q | R | S | T | 
                              		  U | V | W | X | Y | Z | AA ) "0"

    ygrid2             		(  0 |  1 |  2 |  3 |  4 |  5 |  6 |  7 |  8 |  9 | 
                              		  10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 
                              		  20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 
                              		  30 | 31 | 32 | 33 | 34 | 35 | 36 | 37 | 38 | 39 | 
                              		  40 | 41 | 42 | 43 | 44 | 45 | 46 | 47 | 48 | 49 | 
                              		  50 | 51 | 52 | 53 | 54 ) "0"

    xgrid2             		(  0 | A |  B |  C |  D |  E |  F |  G |  H |  I |  J | 
                              		  K | L | M | N | O | P | Q | R | S | T | 
                              		  U | V | W | X | Y | Z | AA ) "0"
    
    chassisOption           ( visiondrivenote | visiondrivespeaker | none )

    noteOption              ( UNKNOWN_STATE_NOTE_MANAGER | NOTE_MANAGER_OFF | NOTE_MANAGER_READY |
                                NOTE_MANAGER_FEEDER_INTAKE | NOTE_MANAGER_EXPEL | NOTE_MANAGER_PLACER_INTAKE | 
                                NOTE_MANAGER_HOLD_FEEDER_FRONT | NOTE_MANAGER_HOLD_FEEDER_BACK | 
                                NOTE_MANAGER_INTAKE_TO_FEEDER | NOTE_MANAGER_LAUNCHER_TO_PLACER_FRONT | 
                                NOTE_MANAGER_LAUNCHER_TO_PLACER_BACK | NOTE_MANAGER_HOLD_FEEDER | 
                                NOTE_MANAGER_READY_AUTO_LAUNCH | NOTE_MANAGER_READY_MANUAL_LAUNCH | 
                                NOTE_MANAGER_PASS | NOTE_MANAGER_AUTO_LAUNCH | NOTE_MANAGER_MANUAL_LAUNCH | 
                                NOTE_MANAGER_READY_ODOMETRY_LAUNCH | NOTE_MANAGER_AUTO_LAUNCH_ODOMETRY | 
                                NOTE_MANAGER_HOLD_PLACER_FRONT | NOTE_MANAGER_HOLD_PLACER_BACK | 
                                NOTE_MANAGER_INTAKE_TO_PLACER | NOTE_MANAGER_PREPARE_PLACE_AMP | 
                                NOTE_MANAGER_PREPARE_PLACE_TRAP | NOTE_MANAGER_PLACE_AMP | 
                                NOTE_MANAGER_PLACE_TRAP | NOTE_MANAGER_PLACER_TO_LAUNCHER_FRONT | 
                                NOTE_MANAGER_PLACER_TO_LAUNCHER_BACK | NOTE_MANAGER_BACKUP_MANUAL_LAUNCH | 
                                NOTE_MANAGER_BACKUP_MANUAL_PLACE | MAX_STATE_NOTE_MANAGER | none )
   
    avoidOption             ( podium | robotcollision | none )
    
>


